.main-container {
    padding: 20px; 
    margin: 20px auto; 
    width: 80%; 
    background-color: #fff; 
}

/* Game Lobby */
body {
    font-family: Arial, sans-serif;
}

#game-lobby {
    border: 2px solid #000; 
    display: flex;
    justify-content: space-between;
}

.left-side, .right-side {
    flex: 1;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
}

#join-game, #game-chat, #leaderboard, #concurrent-games {
    margin-bottom: 20px;
}

input[type=text], textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
#message-display {
    height: 200px;
    overflow-y: auto; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    padding: 5px; 
    background-color: #f9f9f9;
}


button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

button:hover {
    background-color: #e7e7e7;
}

#leaderboard {
    text-align: left;
    margin-top: 20px;
}

#leaderboard h2 {
    margin-bottom: 10px;
}

#game-chat {
    margin-top: 20px;
}

#send-message {
    width: auto;
    float: right;
    margin-right: 0;
}

#concurrent-games {
    text-align: left;
}


#game-chat:after {
    content: "";
    display: table;
    clear: both;
}

/* Game UI */

  
.game-container {
    border: 1px solid #000;
    padding: 1vw;
    background-color: #fff;
    width: 80vw; 
    max-width: 1000px; /* Maximum width of the container */
    margin: 2vh auto;
}
  
#game-ui {
    display: grid;
    grid-template-areas:
      'scoreboard grid word-list';
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1vw;
    align-items: start;
}
  
#scoreboard, #word-list-container {
    padding: 1vw;
}
  
.score {
    margin-bottom: 1vh;
}
  
#grid {
    display: grid;  
    padding: 10px;
    grid-gap: 5px; 
  }

  #grid table {
    border-collapse: collapse;  
  }
  
.grid-cell {
    border: 1px solid #000;
    aspect-ratio: 1 / 1;
}
  
#word-list-container {
    grid-area: word-list;
}
  
  
#word-list {
    list-style-type: none;
    padding-left: 0;
}
  
#word-list li {
    margin-bottom: 1vh;
}
  
@media (max-width: 768px) {
    .game-container {
      width: 95vw;
      padding: 3vw;
    }
    .game-title {
      font-size: 4vw;
    }
}
  